:root {
  --text-sm: 0.875rem;
  --text-md: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 2rem;
  --text-3xl: 2.875rem;
  --text-4xl: 4.25rem;
  --text-5xl: 5rem;
  --font-family: 'Inter', sans-serif;
}

.text-sm {
  font-size: var(--text-sm);
}

.text-md {
  font-size: var(--text-md);
}
.text-lg {
  font-size: var(--text-lg);
}
.text-xl {
  font-size: var(--text-xl);
}
.text-2xl {
  font-size: var(--text-2xl);
}
.text-3xl {
  font-size: var(--text-3xl);
}
.text-4xl {
  font-size: var(--text-4xl);
}
.text-5xl {
  font-size: var(--text-5xl);
}
.text-bold {
  font-weight: 700;
}
.text-light {
  font-weight: 300;
}
.text-normal {
  font-weight: 400;
}
